.container {

}
.header{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 3px 6px 0 #555;
}
.search-container{
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  padding: 10px 10px;
  border-radius: 6px;
  margin-left: 20px;
  width: 300px;
  background-color: white;
}
.inpt{
  color: black;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-left: 15px;
  width: 300px;
}
.movie-container{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  gap: 25px;
  justify-content: space-evenly; ;
}
.divMAin{
  display: flex;
  justify-content: center;
  background-color: black;
}
.btn{
  padding: 5px;
  margin:5px;
  width: 40px;
  height: 40px;
cursor: pointer;
}
.btn-cont{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
}
.srt-btn{
  margin: 5px;
  width: 100px;
  height: 30px;
}